.paid-services {
}

.paid-services__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1152px;
  margin: 0 auto 96px auto;
}

.paid-services__title {
  width: 100%;
  max-width: 552px;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin: 48px 0 0;
}

.paid-services__directions-title {
  width: 100%;
  max-width: 552px;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.paid-services__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 48px;
}

.paid-services__content-text-container {
  max-width: 552px;
  display: flex;
  flex-direction: column;

  /* justify-content: end; */
}

.paid-services__content-title {
  width: 100%;
  max-width: 270px;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.paid-services__content-text {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 24px 0;
}

.paid-services__content-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.paid-services__content-card {
}

.paid-services__content-card-title {
  color: #000;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 4px;
}

.paid-services__image {
  object-position: right;
  object-fit: contain;
  width: 552px;
  height: 406px;
}

.paid-services__our {
  margin: 96px 0;
}

.paid-services__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.paid-services__text {
  width: 100%;
  max-width: 552px;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 24px 0 0 0;
}

.paid-services__button-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.paid-services__button-download {
  border-radius: 8px;
  border: 1px solid #1348ba;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
  padding: 8px;
  transition: all 0.3s ease;
}

.paid-services__button-download:hover {
  /* border: 1px solid #1348ba; */
  background: #f6f6f6;
  color: #000;
}

.paid-services__our-content {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin: 24px 0 0 0;
}

.paid-services__our-image {
  width: 505px;
  height: 350px;
  object-fit: cover;
  object-position: top;
}

.paid-services__our-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.paid-services__our-item {
  width: 100%;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #d9d9d9;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding: 24px 32px;
}

.paid-services__our-item:first-of-type {
  border-top: 1px solid #d9d9d9;
}

.paid-services__our-item::before {
  content: url("../../images2/svg/marker.svg");
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.paid-services__details-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* margin-bottom: 48px; */
}

.paid-services__details {
  border-radius: 8px;
  background: #f6f6f6;
  padding: 24px;
  cursor: pointer;
  position: relative;
  align-self: start;
  width: 100%;
}

.paid-services__details-title {
  font-family: "Cera Round", sans-serif;
  color: #1e1e1e;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 24px 0 8px 0;
}

.paid-services__details-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Cera Round", sans-serif;
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.paid-services__details-answer {
  font-family: "Cera Round", sans-serif;
  color: #1e1e1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding: 8px 0;
}

.paid-services__details-answer:first-of-type {
  padding-top: 16px;
}

.paid-services__details-marker {
  margin-left: 8px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images2/svg/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.3s ease;
}

.paid-services__details-marker.open {
  transform: rotate(180deg);
}

.paid-services_details-text {
  font-family: "Cera Round", sans-serif;
  color: #1e1e1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 8px;
}

.paid-services__pdf-link {
  font-family: "Cera Round", sans-serif;
  color: #1348ba;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
}

.paid-services__doctors-main {
  border-radius: 8px;
  background: #f6f6f6;
  padding: 0 0 48px;
}

.paid-services__doctors {
  border-radius: 8px;
}

.paid-services__doctors-top {
  width: 100%;
  max-width: 1152px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin: 0 auto 24px auto;
}

.paid-services__doctors-wrapper {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.paid-services__doctors-button-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: end;
  margin: 12px 0;
}

.paid-services__dms-content {
  display: flex;
  flex-direction: row-reverse;
  gap: 48px;
  align-items: center;
  margin: 24px 0 0 0;
}

.paid-services__dms-title {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 0 0 24px 0;
}

.paid-services__dms-image {
  width: 552px;
  height: 408px;
  object-fit: cover;
  object-position: top;
}

.paid-services_tax {
  background: #f6f6f6;
  padding: 64px;
}

.paid-services_tax {
  margin: 64px 0 0;
}

.paid-services__tax-top {
}

.paid-services__tax-title {
  width: 100%;
  max-width: 552px;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.paid-services__tax-text {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 24px 0 0 0;
}

.details-title {
  margin-bottom: 20px;
}

.paid-services__button-mobile {
	display: none;
}

.paid-services__text-mobile {
	display: none;
}

.paid-services__our-button-mobile {
	display: none;
}

.paid-services__button-container-mobile {
	display: none;
}

@media (max-width: 768px) {
  .paid-services__container {
    max-width: 327px;
    margin-bottom: 48px;
  }
  .paid-services__content {
    flex-direction: column-reverse;
    margin: 0;
  }

  .paid-services__image {
    width: auto;
    height: auto;
  }

  .paid-services__our-content {
    flex-direction: column;
    gap: 24px;
  }

  .paid-services__button-container {
    display: none;
  }

  .paid-services__our-image {
    width: 327px;
    height: auto;
  }

  .paid-services__title {
    max-width: 327px;
    margin: 24px auto 24px auto;
		font-size: 24px;
		font-weight: 700;
  }

  .paid-services__text {
    display: none;
  }

  .paid-services__text-mobile {
    width: 100%;
    max-width: 552px;
    color: #1e1e1e;
    font-family: "Cera Round", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .paid-services__our {
    margin: 48px 0;
  }

  .paid-services__our-item {
    padding: 12px;
  }

  .paid-services__our-item:first-of-type {
    border-top: 0;
  }
  .paid-services__our-item:last-of-type {
    border-bottom: 0;
  }

  .paid-services__our-button-mobile {
    border: 0;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #1348ba;
    color: #1e1e1e;
    font-family: "Cera Round", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding: 12px;
  }

  .paid-services__directions-title {
    font-size: 24px;
    font-weight: 700;
  }

  .paid-services__details-title {
    font-size: 24px;
		font-weight: 700;
  }

  .paid-services__details {
    padding: 12px;
  }

  .paid-services__details-subtitle {
    font-size: 16px;
    font-weight: 500;
  }

  .paid-services__doctors-button-container {
    display: none;
  }

  .doctors-main__carousel {
    user-select: none;
    scroll-snap-type: x;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  .paid-services__doctors-top {
    display: flex;
		max-width: 327px;
		align-items: center;
  }

  .paid-services__button-mobile {
		display: block;
    border-radius: 8px;
    background: #1348ba;
    color: #d1eaf3;
    font-family: "Cera Round", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
    padding: 12px;
  }

	.paid-services__dms {
		margin-top: 24px;
	}

	.paid-services__dms-content {
		flex-direction: column;
		gap: 0;
		margin: 0;
	}

	.paid-services__dms-image {
		width: 327px;
		height: 308px;
		margin-bottom: 24px;
	}

	.paid-services_tax {
		margin-top: 48px;
		padding: 24px;
	}

	.paid-services__tax-text {
		font-size: 16px;
	}

	.paid-services__button-container-mobile {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin: 24px 0 0 0;
	}
}
