.department {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.department__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: left;
  padding: 0 64px;
}

.department__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 1152px;
  margin: 0 auto;
}

.department__container {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.department__top {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  text-align: start;
  margin: 0 auto;
}

.department__title {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.department__text-container {
  display: flex;
  flex-direction: column;
  /* max-width: 736px; */
}

.department__location {
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 8px;
}

.department__detailed-location {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 48px;
}

.department__description {
  max-width: 776px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.department__description-item {
  color: #1348ba;
  font-family: "Cera Round", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: flex-start;
}

.department__description-item::before {
  content: url("../../../images/svg/arrow-right.svg");
  margin-right: 8px;
  flex-shrink: 0;
}

.departments__select-wrapper {
  display: flex;
  margin-bottom: 24px;
}

.departments__select {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #767676;
  align-items: start;
  max-width: fit-content;
}

.departments__select-button {
  border: 0;
  background: transparent;
  color: #767676;
  font-family: "Cera Round", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 8px 12px;
  cursor: pointer;
  transition: color 0.3s ease, border-bottom 0.3s ease, transform 0.3s ease;
}

.active_select {
  color: #303030;
  border-bottom: 1px solid #303030;
  transform: scale(1.05);
}

.department__head-doctor-card {
  max-width: 352px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 24px;
}

.department__head-doctor-card-title {
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.department__head-doctor-card-img-wrapper {
  width: 100%;
  width: 304px;
  /* height: 304px; */
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 16px 0;
  border-radius: 32px;
}

.department__head-doctor-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* margin-top: -20px; */
}

.department__head-doctor-card-name {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 8px;
}

.department__head-doctor-card-description {
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 24px;
}

.department__head-doctor-card-button {
  border-radius: 8px;
  border: 0;
  background: #1348ba;
  color: #d8edff;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 12px;
  cursor: pointer;
}

.department__doctor-cards-container {
  width: 100%;
  max-width: 1152px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.department__doctor_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.department__doctor-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 16px;
  /* max-width: 238px; */
  justify-content: space-between;
  /* box-sizing: border-box; */
}

.department__doctor-card-img-wrapper {
  width: 100%;
  /* max-width: 238px; */
  height: 238px;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 16px 0;
  border-radius: 32px;
}

.department__doctor-card-image {
  width: 100%;
  /* height: 100%; */
	max-height: 238px;
	border-radius: 32px;
  object-fit: cover;
	/* object-position: top; */
  /* margin-top: -10px; */
}

.department__doctor-card-title {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 16px 0 8px;
}

.department__doctor-card-description {
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 52px;
  flex-grow: 1;
}

.department__doctor-card-button {
  border-radius: 8px;
  background: #e3e3e3;
  border: 1px solid #b2b2b2;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 12px;
  /* min-width: 238px; */
  cursor: pointer;
}

.department__button-container {
  display: flex;
  justify-content: center;
}

.department__doctor-card {
  flex: 0 0 auto;
  /* min-width: 270px; */
  scroll-snap-align: start;
}

.department__doctor-cards-container::-webkit-scrollbar {
  display: none;
}

.department__location-table {
  display: none;
}
.department__detailed-location-table {
  display: none;
}

/* Контейнер карусели */
.department__carousel-container {
  position: relative;
  overflow: hidden;
  max-width: calc((264px + 24px) * 4 - 24px); /* Ширина для 4 карточек */
  margin: 0 auto;
}

/* Заголовок карусели и кнопки */
.department__carousel-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
}

.department__carousel-title {
  font-size: 24px;
  font-weight: 700;
  color: #1e1e1e;
}

.department__carousel-buttons {
  display: flex;
  gap: 16px;
}

.department__prev-button,
.department__next-button {
  cursor: pointer;
  background: none;
  border: none;
  width: 24px;
  height: 24px;
}

.department__prev-button {
  background-image: url('../../../images/button-prev.svg');
  background-repeat: no-repeat;
}

.department__next-button {
  background-image: url('../../../images/button-next.svg');
  background-repeat: no-repeat;
}

/* Карусель */
.department__carousel {
  overflow: hidden;
}

.department__carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 24px; 
}

.department__carousel-track.no-transition {
  transition: none;
}

/* Карточки врачей */
.department__doctor-card {
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 16px;
  width: 264px;
  flex: 0 0 auto;
}

.department__doctor-card-img-wrapper {
  width: 100%;
  height: 238px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 16px;
}

.department__doctor-card-title {
	width: 100%;
	max-width: 225px;
  font-size: 20px;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 8px;
}

.department__doctor-card-description {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 16px;
}

.department__button-container {
  display: flex;
  justify-content: center;
}





@media (pointer: fine) {
  .department__doctor-cards-container {
    scrollbar-width: thin;
  }
}

@media (max-width: 942px) {
  .departments__select {
    margin-top: 42px;
  }
}

@media (max-width: 767px) {
  .department {
    display: block;
  }

  .department__content {
    padding: 0 32px;
  }

  .department__container {
    gap: 24px;
    align-items: flex-start;
    margin-top: 48px;
  }

  .department__doctor-cards-container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }
  .department__doctor_cards {
    display: flex;
    width: max-content;
  }
  .department__doctor-card {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }

  .department__doctor-cards-container::-webkit-scrollbar {
    display: none;
  }

  .department__description {
    max-width: 353px;
  }

  .department__head-doctor-card-img-wrapper {
    max-width: 295px;
    height: 295px;
  }

  .department__location-table {
    display: flex;
    margin: 24px 0 8px;
    color: #757575;
    font-family: "Cera Round", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .department__detailed-location-table {
    display: flex;
    color: #1e1e1e;
    font-family: "Cera Round", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  .department__location {
    display: none;
  }

  .department__detailed-location {
    display: none;
  }
}

@media (max-width: 576px) {
  .department__container {
    flex-direction: column-reverse;
  }
  .department__doctor-card {
    min-width: 240px;
  }

  .department__doctor-card-image {
    margin: 0;
  }
  .department__doctor-card-img-wrapper {
    max-width: 208px;
    height: 208px;
    margin: 0;
  }
}
