.dynamic-route {
	width: 100%;
  display: flex;
	flex-direction: row;
  justify-content: center;
  padding: 0 16px;
	box-sizing: border-box;
}

.dynamic-route__container {
  display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	flex-wrap: wrap;
	max-width: 1152px;
	width: 100%;
	/* padding: 0 16px; */
  box-sizing: border-box;
}

.dynamic-route__link-home {
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  position: relative;
  align-items: center;
  display: flex;
}

.dynamic-route__link-home::before {
  content: "";
  display: inline-block;
  background: url(../../images/svg/Home.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
.dynamic-route__link-home::after {
  content: "";
  display: inline-block;
  background: url(../../images/svg/arrow-right-gray.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin: 0 12px;
}

.dynamic-route__current {
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  position: relative;
  align-items: center;
  display: flex;
}

.dynamic-route__link-doctors {
	color: #757575;
	font-family: "Cera Round", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	text-decoration: none;
	position: relative;
	align-items: center;
	display: flex;
}

.dynamic-route__link-doctors::after {
	content: "";
  display: inline-block;
  background: url(../../images/svg/arrow-right-gray.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin: 0 12px;
}

.dynamic-route__link-departments {
	color: #757575;
	font-family: "Cera Round", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	text-decoration: none;
	position: relative;
	align-items: center;
	display: flex;

}

.dynamic-route__link-privacy-policy {
	color: #757575;
	font-family: "Cera Round", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	text-decoration: none;
	position: relative;
	align-items: center;
	display: flex;
}

.dynamic-route__link-departments::after {
	content: "";
  display: inline-block;
  background: url(../../images/svg/arrow-right-gray.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin: 0 12px;
}

.dynamic-route__link-our-doctors {
}

.dynamic-route__link-our-doctors::after {
  content: "";
  display: inline-block;
  background: url(../../images/svg/arrow-right-gray.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin-left: 12px;
}

.dynamic-route__doctor {
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin: 0 12px;
}

@media (max-width: 988px) {
  .dynamic-route {
    display: none;
  }
}
