.dynamic-route {
  margin-left: 64px;
}

.dynamic-route__container {
  display: flex;
  flex-direction: row;
}

.dynamic-route__link-home {
	color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  position: relative;
  align-items: center;
  display: flex;
}

.dynamic-route__link-home::before {
  content: "";
  display: inline-block;
  background: url(../../images/Home.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
.dynamic-route__link-home::after {
  content: "";
  display: inline-block;
  background: url(../../images/arrow-right.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin: 0 12px;
}

.dynamic-route__link-our-doctors {
	color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  position: relative;
  align-items: center;
  display: flex;
}

.dynamic-route__link-our-doctors::after {
	content: "";
  display: inline-block;
  background: url(../../images/arrow-right.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin-left: 12px;
}

.dynamic-route__doctor {
	color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
	margin: 0 12px;
}

@media (max-width: 988px) {
	.dynamic-route {
		display: none;
	}
}