.services {
  /* padding: 48px 64px; */
  padding: 134px 64px;
}

.services__container {
}

.services__container {
  max-width: 1152px;
  margin: 0 auto;
  user-select: none;
  scroll-snap-type: x;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.services__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin: 0 0 24px 0;
}

.services__button {
  background: #1348ba;
  color: #d8edff;
  border-radius: 8px;
  border: 0;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 8px;
  cursor: pointer;
}

.services__cards {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 64px;
}

.services__card {
  max-width: 341px;
}

.services__card-title {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.48px;
  margin: 24px 0 8px;
}

.services-title-1 {
	width: 212px;
}

.services__card-text {
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 341px;
  margin-bottom: 38px;
}

.services__card-button_container {
  display: flex;
  width: 100%;
  justify-content: end;
}

.services__card-button {
  color: #1e1e1e;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #1348BA;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 12px;
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
  transition: 0.7s;
}

.services__card-button:hover {
  background-color: #F6F6F6;
  color: #000000;
  border-color: #154CC1;
}

@media (hover: none) {
  .services__card-button:hover {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
  }
}

@media (max-width: 932px) {
  .services {
    padding: 48px 32px;
  }
}

@media (max-width: 576px) {
  .services {
    padding: 24px;
  }
  .services__container {
    overflow-x: hidden;
  }
  .services__cards {
    align-items: center;
    flex-direction: column;
  }

  .services__card-button {
    width: 100%;
    text-align: center;
  }
}
