.btn {
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	transition: background-color 0.6s ease, color 0.6s ease,
    border-color 0.3s ease;
}

.btn--small {
	padding: 8px;
}

.btn--min-width {
  width: 238px;
}

.btn--max-width {
	width: 75px;
}

.btn--primary {
  background-color: #1348ba;
  color: #d8edff;
  border: 1px solid #1348ba;
}

.btn--primary:hover {
  border: 1px solid #1348ba;
  background: #164194;
}

.btn--secondary {
  background-color: #e3e3e3;
  color: #1e1e1e;
  border: 1px solid #767676;
}

.btn--secondary:hover {
  background-color: #cccccc; 
  background-color: #767676; 
  color: #000000;
  border-color: #5a5a5a;
}
