.preview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.preview__background {
  max-width: 1280px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.14) 0%,
      rgba(30, 30, 30, 0.14) 100%
    ),
    url("http://24gkb.ru/images-svg/panorama.jpg") lightgray 50% / cover
      no-repeat;
  height: 547px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.preview__search {
  max-width: 1152px;
  width: 100%;
  position: absolute;
  top: 413px;
  border-radius: 8px;
  background: rgba(245, 245, 245, 0.74);
  backdrop-filter: blur(10px);
  /* margin-bottom: 31px; */
}

.preview__title {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.48px;
}

.preview__form {
  display: flex;
  flex-direction: column;
  padding: 48px 64px 48px;
  gap: 12px;
}

.preview__options {
  display: flex;
  flex-direction: row;
  gap: 24px;
  border: 0;
}

.preview__label {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  position: relative;
  user-select: none;
}

.preview__input-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}

.preview__input {
  width: 100%;
  background: #fff;
  color: #b3b3b3;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 12px 16px;
  transition: border 0.6s ease, box-shadow 0.6s ease;
}

.preview__input:focus {
  border-color: #1348ba;
  box-shadow: 0 0 10px rgba(19, 72, 186, 0.5);
  transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

.preview__details-marker {
  margin-left: 8px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../images2/svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.3s ease;
}

details[open] .preview__details-marker {
  width: 20px;
  height: 20px;
  background-image: url("../../images2/svg/arrow-up.svg");
}

.preview__details {
  display: flex;
  flex-direction: row;
  opacity: 1;
  visibility: visible;
  transition: opacity 2s ease, visibility 2s ease;
}

.preview__details.hidden {
  opacity: 0;
  visibility: visible;
  transition: opacity 2 ease, visibility 2s ease;
}

.preview__summary {
  color: #b3b3b3;
  min-width: 240px;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.preview__search-button {
  background: #1348ba;
  border-radius: 8px;
  border: 0;
  padding: 12px;
  color: #d8edff;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  opacity: 1;
  transition: 0.7s;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.preview__search-button:hover {
  background: #164194;
}

.preview__search-button.expanded {
  padding: 12px 48px;
  font-size: 18px;
  background-color: #002d62;
  color: #ffffff;
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.summary-text {
  transition: opacity 1.2s ease, transform 1.2s ease;
  display: inline-block;
}

.preview__summary:hover .summary-text {
  transform: scale(1.05);
}

.preview__input-container {
  transition: all 1s ease;
}

.preview__summary.hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.preview__input-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.preview__input-container.transitioning {
  opacity: 0;
  transform: translateY(-10px);
}

.preview__radio-input {
  opacity: 0;
  position: absolute;
}

.preview__label {
  padding-left: 36px;
  position: relative;
  font-size: 16px;
  color: #1e1e1e;
  cursor: pointer;
}

.preview__label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 2px solid #1348ba;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background 0.3s ease, transform 0.3s ease;
}

.preview__radio-input:checked + .preview__label::before {
  background: #1348ba;
}

.preview__label::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #d8edff;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transition: transform 0.3s ease;
}

.preview__radio-input:checked + .preview__label::after {
  transform: translateY(-50%) scale(1);
}

.preview__input:focus {
  border-color: #1348ba;
  box-shadow: 0 0 10px rgba(19, 72, 186, 0.5);
  transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

.preview__search-button {
  background: #1348ba;
  border-radius: 8px;
  border: 0;
  padding: 12px;
  color: #d8edff;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
	padding: 12px 48px;
  font-size: 18px;
  background-color: #002d62;
  color: #ffffff;
}

.preview__search-button.expanded {
  padding: 12px 48px;
  font-size: 18px;
  background-color: #002d62;
  color: #ffffff;
}

.preview__input-container {
  position: relative;
}

.preview__results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-width: 631px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.preview__results-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.preview__results-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.preview__results-item:last-child {
  border-bottom: none;
}

.preview__results-item a {
  text-decoration: none;
  color: #007bff;
}

.preview__results-item a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .preview {
    display: block;
  }
  /* Мобильная версия */
  .preview__mobile {
    display: flex;
    flex-direction: column;
  }

  .preview__background-mobile {
    width: 100%;
    height: 300px;
    background: url("https://i.postimg.cc/sgjqvSW1/image.png") no-repeat center
      center;
    background-size: cover;
  }

  .preview__search-mobile {
    padding: 24px 32px;
    background: rgba(245, 245, 245, 0.74);
  }

  .preview__input-mobile {
    width: 100%;
    padding: 12px;
  }

  .preview__search-button-mobile {
    width: 100%;
    padding: 12px;
    background-color: #1348ba;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .preview__input-container {
    flex-direction: column;
    align-items: normal;
    width: 100%;
    gap: 8px;
  }

  .preview__title {
    margin-bottom: 12px;
  }

  .preview__input {
    width: auto;
    max-width: 704px;
    margin-top: 12px;
  }
}

@media (max-width: 576px) {
  .preview__label {
    display: block;
  }
  .preview__radio {
    margin-right: 12px;
    display: none;
  }
  .preview__options {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 24px;
    border: 0;
  }
}
