.doctor-preview-card {
  height: 462px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 16px;
}

.doctor-preview-card__photo {
	width: 100%;
  max-width: 238px;
  height: 238px;
  border-radius: 32px;
  object-position: top;
  object-fit: cover;
  margin-bottom: 16px;
}

.doctor-preview-card__name {
	width: 100%;
  max-width: 218px;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* margin-bottom: 88px; */
}

.doctor-preview-card__positions {
	width: 100%;
	max-width: 238px;
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  flex-grow: 1;
	margin-bottom: 51px;
}

@media (max-width: 768px) {
	.doctor-preview-card {
		width: 100%;
		max-width: 327px;
		padding: 16px;
		height: auto;
	}

	.doctor-preview-card__photo {
		max-width: 295px;
		height: 295px;
	}

	.doctor-preview-card__name {
		max-width: 295px;
	}

	.doctor-preview-card__positions {
		max-width: 295px;
		margin: 8px 0 24px;
	}
}