.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #1e1e1e;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menu.open {
  transform: translateX(0);
}

.menu__top {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
	margin: 0 auto;
}

.menu__logo {
  width: 176px;
}

.menu__close-button {
  width: 16px;
  height: 16px;
  background: url(../../images2/svg/close-icon.svg);
  border: none;
  margin-right: 24px;
}

.menu__list {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 58px auto;
}

.menu__item {
  color: #1e1e1e;
  border-bottom: 1px solid #e8e8e8;
  font-family: "Cera Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
  padding: 8px 0 8px 8px;
}
.menu__foter {
	width: 90%;
  display: flex;
  flex-direction: row;
  gap: 43px;
  margin: 0 auto;
}

.menu__span {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 0 0 8px 0;
}

.menu__text-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 8px 0 6px 0;
}

.menu__text {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.menu__social-link {
  width: 29px;
  height: 18px;
}
