.feedback {
  padding: 24px 0;
  margin-bottom: 24px;
}

.feedback__container {
  max-width: 1152px;
  margin: 0 auto;
}

.feedback__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.feedback__buttons-carousel-container {
  display: flex;
  gap: 16px;
}

.feedback__title {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.48px;
  margin: 0 0 32px 0;
}

.feedback__wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.feedback__carousel {
  overflow: hidden;
}

.feedback__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  gap: 48px;
  align-items: flex-start;
}

.feedback__track.no-transition {
  transition: none;
}

.feedback__track::after {
  content: "";
  display: block;
}

.feedback__cards-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 24px;
}

.feedback__buttons-wrapper {
  display: flex;
  align-items: center;
}

.feedback__card {
  width: 100%;
  max-width: 352px;
  height: 100%;
  min-height: 302px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 25px;
  flex: 0 0 auto;
}

.feedback__card:last-child {
  margin-right: 0;
}

.feedback__card-title {
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 24px;
}

.feedback__card {
  width: 100%;
  max-width: 352px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.feedback__card-text {
  line-height: 1.5;
}

.feedback__card-text.expanded {
  max-height: none;
  overflow: auto;
}

.feedback__card-author {
  min-height: 20px;
}

.feedback__card-author.empty {
  visibility: hidden;
}

.feedback__more_button {
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: start;
  border: 0;
  background: transparent;
  margin: 4px 0 24px;
  opacity: 1;
  transition: 0.7s;
  cursor: pointer;
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: 10px;
}

.feedback__more_button:hover {
  opacity: 0.7;
}

.feedback__card-author {
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.feedback__card-date {
  color: #b3b3b3;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.feedback__prev-button,
.feedback__next-button {
  cursor: pointer;
  background-repeat: no-repeat;
  border: 0;
  padding: 10px;
  transition: 0.7s;
}

.feedback__prev-button {
  background: url(../../images2/button-prev.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.feedback__next-button {
  background: url(../../images2/button-next.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.feedback__prev-button:hover {
  opacity: 1;
}

.feedback__next-button:hover {
  opacity: 1;
}

.feedback__buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0;
  align-items: center;
}

.feedback__buttons-title {
  color: #1e1e1e;
  text-align: center;
  font-family: "Cera Round", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
  margin-bottom: 48px;
  margin-bottom: 24px;
}

.feedback__buttons-text {
  color: #757575;
  text-align: center;
  font-family: "Cera Round", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 24px;
}

.feedback__buttons-bar {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.feedback__button {
  border-radius: 8px;
  border: solid #767676;
  background: #e3e3e3;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 12px;
  cursor: pointer;
}

.active {
  border: 1px solid #1348ba;
  background-color: #1348ba !important;
  color: #d8edff;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.feedback__table_button-container {
  display: none;
}

.feedback__mobile-card-container {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.feedback__icon-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.feedback__card-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 1150px) {
  .feedback__prev-button,
  .feedback__next-button {
    display: none;
  }

  .feedback__table_button-container {
    display: flex;
    justify-content: end;
    gap: 12px;
    margin: 0 32px 28px 0;
  }
}

@media (max-width: 768px) {
  .feedback__top {
    margin: 24px 0 0;
  }
  .feedback__container {
    max-width: 327px;
    margin: 0 auto;
  }
  .feedback__mobile-card-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    max-width: 1152px;
    margin: 0 auto;
    user-select: none;
    scroll-snap-type: x;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  .feedback__title {
    margin: 0 0 24px 0;
  }
}

@media (max-width: 576px) {
  .feedback {
    padding: 0;
    margin: 0;
  }
  .feedback__container {
    padding: 0;
  }
  .feedback__track.no-transition {
    transform: none !important;
    margin-bottom: 12px;
  }
  .feedback__table_button-container {
    display: none;
  }

  .feedback__title {
    margin: 0 0 24px;
  }

  .feedback__track {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 12px;
  }

  .feedback__card {
    max-width: 327px;
  }

  .feedback__buttons-container {
    padding-top: 8px;
  }

  .feedback__buttons-bar {
    flex-direction: column;
  }

  .feedback__buttons-text {
    text-wrap: balance;
  }
}
