.photo-slider {
  position: relative;
  max-width: 550px;
}

.main-photo-container {
  position: relative;
  width: 100%;
}

.main-photo {
  width: 100%;
  height: auto;
  max-width: 544px;
  height: 504px;
  border-radius: 8px;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 8px;
}

.thumbnail-photo {
  max-width: 115px;
  height: 85px;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 4px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.thumbnail-photo:hover,
.active-thumbnail {
  opacity: 1;
  transform: scale(1.05);
}

.slider-button {
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 20px;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s ease;
  opacity: 1;
}

.slider-button:hover {
  opacity: 0.7;
}

.prev-button {
  background: url(../../images/button-prev.svg);
  margin-right: 8px;
}

.next-button {
  background: url(../../images/button-next.svg);
  margin-left: 8px;
}

@media (max-width: 1212px) {
  .slider-button {
    display: none;
  }
}

@media (max-width: 1180px) {
  .main-photo {
    max-width: 504px;
    height: 460px;
    border-radius: 30px;
  }

  .thumbnail-photo {
    max-width: 95px;
    height: 70px;
  }
}

@media (max-width: 988px) {
  .photo-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    max-width: none;
  }

  .main-photo-container {
    flex: 1;
    max-width: fit-content;
  }

  .main-photo {
    max-width: 544px;
    height: 504px;
    max-width: fit-content;
  }

  .thumbnail-container {
    flex-direction: column;
    margin-top: 0;
  }
  .thumbnail-photo {
    max-width: none;
    min-width: 133px;
    height: 94px;
  }
}

@media (max-width: 580px) {
  .photo-slider {
    flex-direction: column;
  }

  .thumbnail-container {
    flex-direction: row;
    justify-content: start;
    gap: 16px;
    user-select: none;
    scroll-snap-type: x;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  .thumbnail-photo {
    min-width: 82px;
    height: 61px;
  }

  .main-photo-container {
    margin: 0 auto;
  }

  .main-photo {
    max-width: 327px;
    height: 327px;
  }
}
