.btn {
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.6s ease, color 0.6s ease,
	border-color 0.3s ease;
}

.btn--small {
	padding: 8px;
	width: 111px;
	font-weight: 500;
}

.btn--medium {
	padding: 8px 16px;
}

.btn--big {
	max-width: 528px;
  width: 100%;
}

.btn--min-width {
	width: 238px;
}

.btn--max-width {
	max-width: 75px;
}

.btn--large {
	padding: 12px;
	
}

.btn--primary {
  background-color: #1348ba;
  color: #d8edff;
  border: 1px solid #1348ba;
}

.btn--secondary {
  background-color: transparent;
  color: #1e1e1e;
	font-weight: 500;
  border: 1px solid #1348ba;
}

.btn--third {
  background-color: #d8edff;
  color: #2d90ff;
  border: 0;
}

.btn--fourth {
  border: 1px solid #fff;
  background: #fff;
  color: #000000;
}

.hidden-button {
  display: none;
}

@media (hover: hover) {
  .btn--secondary:hover {
    background-color: #F6F6F6;
    color: #000000;
    border-color: #154CC1;
  }

  .btn--primary:hover {
    border: 1px solid #1348ba;
    background: #164194;
  }
}

@media (hover: none) {
  .btn--secondary:hover,
  .btn--primary:hover {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
  }
}
