.departments-list__container {
  max-width: 858px;
  margin: 32px auto 32px auto;
}

.departments-list__form {
  display: flex;
}

.departments-list__search-wrapper {
  position: relative;
  display: inline-block;
  width: 327px;
}

.departments-list__search-input {
  border-radius: 9999px;
  border: 1px solid #d9d9d9;
  background: #fff;
  color: #b3b3b3;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 16px 12px 16px;
  width: 100%;
}

.departments-list__search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  pointer-events: none;
}

.departments-list__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 48px 0;
}

.departments-list__item-container {
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
}

.departments-list__item {
  color: #00277B;
  font-family: "Cera Round", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
  cursor: pointer;
  transition: 0.7s;
  opacity: 1;
}

.departments-list__item:hover {
  opacity: 0.7;
}

.departments-list__category-title {
  color: #1e1e1e;
	border-bottom: 1px solid #D9D9D9;
  font-family: "Cera Round", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
	padding-bottom: 16px;
}

.departments-list__no-category {
  /* margin-top: 48px; */
}

@media (max-width: 768px) {
	.departments-list__category-title {
		font-size: 20px;
	}

	.departments-list__container {
		max-width: 327px;
	}
	.departments-list__item-container {
		padding: 12px 0;
	}
	.departments-list__item {
		display: flex;
		width: 100%;
		max-width: 327px;
		font-size: 16px;
	}
}