.not-found {
}

.not-found__container {
  width: 100%;
  max-width: 1152px;
  margin: 48px auto 0 auto;
}

.not-found__top {
  display: flex;
  flex-direction: column;
}

.not-found__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.not-found__content-text {
  width: 100%;
  max-width: 552px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.not-found__title {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 0 0 48px 0;
}

.not-found__text {
  color: #1e1e1e;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.not-found__link {
  color: #1348ba;
  font-family: "Cera Round", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
  margin: 16px 0 0;
  opacity: 1;
  transition: 0.5s;
}

.not-found__link:hover {
  opacity: 0.7;
}

.not-found__link::after {
  content: url(../../images/Icon-right-bluesvg.svg);
  padding: 5px 0;
  margin-left: 16px;
}

.not-found__image {
  max-width: 552px;
  min-height: 418px;
}

@media (max-width: 768px) {
  .not-found__content {
    width: 100%;
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .not-found__image {
    max-width: 327px;
    min-height: 271px;
		margin: 0 auto;
  }

  .not-found__content-text {
    max-width: 327px;
    margin: 0 auto 24px;
  }
}
