.doctors-main {
  background: #d8edff;
	background: rgba(177, 212, 226, 0.26);
  padding: 48px 64px;
}

.doctors-main__container {
  max-width: 1152px;
  margin: 0 auto;
}

.doctors-main__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin: 0 0 24px 0;
}

.doctors-main__button-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.doctors-main__title {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
}

.doctors__cards-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: start;
}

.doctors__card {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.doctors__card-image {
  max-width: 238px;
  height: 238px;
  border-radius: 32px;
  object-fit: cover;
  object-position: top;
}

.doctors__card-title {
	max-width: 219px;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 16px 0 8px;
}

.doctors__card-position {
  color: #757575;
  font-family: "Cera Round", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 66px;
}

.doctors-main__wrapper {
  overflow: hidden;
  position: relative;
}

.doctors-main__carousel {
  overflow: hidden;
}

.doctors-main__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  gap: 24px;
}

.doctors-main__track.no-transition {
  transition: none;
}

.doctors-main__prev-button,
.doctors-main__next-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
}

.doctors-main__prev-button {
  background: url("../../../images2/button-prev.svg") no-repeat;
}

.doctors-main__next-button {
  background: url("../../../images2/button-next.svg") no-repeat;
}

.doctors__card {
  box-sizing: border-box;
  width: 270px;
}

@media (max-width: 768px) {
	.doctors-main {
		padding: 48px 32px;
	}
  .doctors-main__list {
    display: flex;
    flex-direction: row;
    gap: 16px;
		max-width: 1152px;
		margin: 0 auto;
		user-select: none;
		scroll-snap-type: x;
		overflow-x: auto;
		scroll-behavior: smooth;
		scrollbar-width: none;
  }

  .doctors__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
  }

  .doctors-main__list {
  }

  .doctors__card-image {
    min-width: 238px;
  }
}

@media (max-width: 576px) {
	.doctors-main {
		padding: 24px;
	}
}