* {
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}
/* Отключаем эффекты hover для планшетов и телефонов */
@media (hover: none) {
  *:hover {
    
    background-color: inherit;
    color: inherit;
   
  }
}
