.help-main {
  display: flex;
  justify-content: center;
  padding: 0 64px 24px 64px;
}

.help-main__container {
  width: 100%;
  max-width: 1152px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  display: flex;
  flex-direction: row;
  padding: 24px 64px;
  justify-content: space-between;
}

.help-main__banner {
  max-width: 500px;
  max-height: 213px;
}

.help-main__text-container {
  display: flex;
  flex-direction: column;
}

.help-main__title {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
  margin-bottom: 8px;
}

.help-main__text {
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 500px;
  margin-bottom: 16px;
}

.help-main__button-container {
	margin-top: 16px;
}

.help-main__button {
  border-radius: 8px;
  border: 1px solid #1348BA;
  background: transparent;
  color: #1e1e1e;
  font-family: "Cera Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  max-width: 75px;
  padding: 8px;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.6s ease, color 0.6s ease,
  border-color 0.3s ease;
	text-decoration: none;
	margin-top: 16px;
}

.help-main__button:hover {
  background-color: #F7F7F7;
  color: #000000;
  border-color: #0E3790;
}

@media (hover: none) {
  .help-main__button:hover {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
  }
}

@media (max-width: 768px) {
  .help-main {
    padding: 24px;
  }
  .help-main__container {
    padding: 24px;
  }

  .help-main__banner {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 640px) {
  .help-main {
    display: flex;
    justify-content: center;
  }

  .help-main__container {
    min-width: auto;
    flex-direction: column;
    padding: 0;
    max-width: none;
  }

  .help-main__text {
    max-width: auto;
		margin: 0;
  }



  .hidden-button {
    display: none;
  }

  .help-main__button {
    max-width: none;
    width: 100%;
		display: flex;
		justify-content: center;
		margin: 0;
  }
}
