.doctor-card {
}

.doctor-card__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 64px;
  margin: 48px 0 0 0;
}

.doctor-card__photo-container {
}

.doctor-card__information {
  display: flex;
  flex-direction: column;
}

.doctor-card__positions {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.doctor-card__full-name {
  color: #1e1e1e;
  font-family: 'Cera Round', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38.4px;
  margin: 0 0 16px 0;
}

.doctor-card__position {
  color: #757575;
	font-family: 'Cera Round', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.doctor-card__description {
  color: #1348ba;
  font-family: 'Cera Round', sans-serif;
  text-wrap: balance;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 504px;
  margin: 8px 0 0 0;
}

.doctor-card__experience {
  color: #757575;
	font-family: 'Cera Round', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin: 16px 0 24px 0;
}

.doctor-card__experience-number {
  color: #757575;
	font-family: 'Cera Round', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-left: 16px;
}

.doctor-card__button {
  border-radius: 8px;
  background: #1348ba;
	color: #D8EDFF;
  padding: 12px;
  max-width: 504px;
  border: 0;
  cursor: pointer;
  margin: 24px 0;
}

.doctor-card__details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
	margin-top: 24px;
}

.doctor-card__details {
  /* max-width: 504px; */
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 16px;
  transition: all 0.3s ease;
}

.doctor-card__details[open] {
  height: auto;
}


.doctor-card__details-title {
  color: #1e1e1e;
  font-family: 'Cera Round', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


.doctor-card__details-marker {
  margin-left: 8px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../../images/svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.3s ease; 
}

details[open] .doctor-card__details-marker {
  width: 20px;
  height: 20px;
  background-image: url("../../../images/svg/arrow-up.svg");
}


.doctor-card__details-text {
  color: #1e1e1e;
  font-family: 'Cera Round', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 8px;
  max-width: 427px;
}

.doctor-card__details-year {
  color: #1e1e1e;
  font-family: 'Cera Round', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}

summary::marker {
  display: none !important;
}

summary {
  list-style: none;
}

summary {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

@media (max-width: 1211px) {
  .doctor-card__container {
    gap: 30px;
  }
}

@media (max-width: 988px) {
  .doctor-card__container {
    flex-direction: column;
    max-width: 704px;
    margin: 24px auto;
    gap: 24px;
  }

  .doctor-card__information {
    margin: 0 24px;
  }

  .doctor-card__description {
    max-width: 704px;
    text-wrap: wrap;
  }

  .doctor-card__button {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
	.doctor-card__full-name {
		font-size: 28px;
		line-height: 30px;
	}

	summary::marker {
    display: none !important;
  }

  summary {
    list-style: none;
  }
}